.w-100p {
    width: 100px;
}

.w-200p {
    width: 200px;
}

.w-fill {
    width: -webkit-fill-available;
}

@media print {

    body {
        visibility: hidden;
    }

    .printable {
        visibility: visible;
        position: fixed;

        top: 0;
    }

}

.td-img-policy {
    width: 250px;
    vertical-align: middle;
}
